body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.navbar {
  display: flex;
  justifycontent: space-between;
  margin: 0 15% 0 15%;
  /* display: none; */
}

@media screen and (max-width: 475px) {
  .navbar {
    display: none;
  }
  .mobile_navbar{
    display: block;
  }
}
.mobile_navbar{
  padding: 20px;
}
@media screen and (min-width: 475px) {
  .navbar {
    display: flex;
  }
  .mobile_navbar{
    display: none;
  }
}